body, .fondo, section{
  background-image: url('../img/75619.jpg');
  background-size: cover;
  background-position: center;
}
p{
  font-family: Georgia, serif;
}
section{
  width: 65%;
  height: 90%;
  top: 50%;
  left: 50%;
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 2rem 3rem;
  background-color: black;
  border: 1px solid silver;
  border-radius: 1rem;
}

h2{
  border-bottom: 1px solid #212121;
}

.users{
  width: 70%;
  border-radius: 50%;
  background-color: red;
  border: 1px solid silver;
}

.barra{
  width: 100px;
  position: absolute;
  top: -1.2rem;
  left: calc(50% - 50px);
}

.selector{
	margin-top: -2.5rem;
	display: flex;
	justify-content: space-between;
	height: 72px;
  background-color: rgba(1, 1, 1, .5);
	border-bottom: 1px solid darkred;
	width: 100%;
}

.selector a{
	font-size: 1.5rem;
	font-weight: 500;
	height: 100%;
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 0 2.5rem;
	color: rgb(140,140,140);
}

.selector a:hover{
  transition: color .4s ease-in-out;
  color: red;
  text-decoration: none;
}

.imagen{
  min-width: 70%;
  width: 75%;
  margin-left: 1rem;
  margin-top: -2rem;
  border-radius: 5%;
}
